body{
    background-color:  #FF0000 ;
}
a{
    text-decoration: none;
    font-family: sans-serif;
    text-transform: uppercase;
    color: black;
 background-color: #FF0000;
padding: 15 15;
}
a:hover{

    background-color: #FF0000;
}
h1{
 text-align: center;
}
